@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  max-width: 1280px;
  height: auto;
  font-family: "Arial Black", "小塚ゴシック Pro", "Kozuka Gothic Pro";
  background: #ababab;
}

.wrpper {
  width: calc(100% - 200px);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.wrpper .section-title {
  width: 5%;
  text-align: center;
}
.wrpper .section-title .section-main-title {
  writing-mode: vertical-rl;
  font-size: 50px;
  line-height: 1;
  margin-bottom: 30px;
}
.wrpper .section-title .section-sub-title {
  writing-mode: vertical-rl;
  font-size: 26px;
  line-height: 1;
}
.wrpper .section-items {
  width: 90%;
  font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro";
}
.wrpper .section-items P {
  font-size: 26px;
}

header {
  width: 100%;
  height: 730px;
  color: #fff;
  text-align: center;
  background: url(images/ゆめカフェ_01.png) center bottom;
  background-size: cover;
}
header .header-inner {
  width: calc(100% - 200px);
  margin: 0 auto;
  position: relative;
}
header .header-inner .header-nav {
  width: 100%;
  height: 131px;
  position: absolute;
  top: 40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-inner .header-nav .header-logo {
  display: flex;
  align-items: center;
}
header .header-inner .header-nav .header-logo .logo-text {
  font-size: 24px;
  color: #fff;
}
header .header-inner .header-nav .header-menu {
  width: 50px;
  height: 35px;
  position: relative;
  cursor: pointer;
}
header .header-inner .header-nav .header-menu .header-menu-line,
header .header-inner .header-nav .header-menu .header-menu-line::before,
header .header-inner .header-nav .header-menu .header-menu-line::after {
  position: absolute;
  display: block;
  width: 50px;
  height: 5px;
  background: #fff;
}
header .header-inner .header-nav .header-menu .header-menu-line {
  top: 15px;
}
header .header-inner .header-nav .header-menu .header-menu-line::before {
  content: "";
  top: -15px;
}
header .header-inner .header-nav .header-menu .header-menu-line::after {
  content: "";
  top: 15px;
}
header .header-title {
  font-size: 100px;
  padding-top: 265px;
  line-height: 1;
  opacity: 0.7;
}
header .header-sub-title {
  display: inline-block;
  margin: 0 auto;
  font-size: 24px;
  opacity: 0.7;
  position: relative;
}
header .header-sub-title::before,
header .header-sub-title::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  background: #fff;
}
header .header-sub-title::before {
  top: 50%;
  left: -30px;
}
header .header-sub-title::after {
  top: 50%;
  right: -30px;
}

.concept {
  padding: 200px 0;
}
.concept .section-items img {
  width: 100%;
  object-fit: cover;
}
.concept .section-items p {
  line-height: 48px;
}

.cats {
  padding: 0 0 200px 0;
}
.cats .section-items {
  max-height: 1050px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  text-align: center;
}
.cats .section-items .cat {
  width: 45%;
  height: 45%;
  margin-bottom: 20px;
}
.cats .section-items .cat img {
  width: 100%;
}
.cats .section-items .cat p {
  margin-top: 18px;
  line-height: 1;
}

.price {
  padding: 0 0 200px 0;
}
.price .section-items {
  padding: 120px 0;
  background: url("images/ゆめカフェ_16.png") no-repeat right bottom;
  background-size: cover;
  object-fit: cover;
}
.price .section-items .foo {
  width: 100%;
}
.price .section-items .foo .price-list {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.price .section-items .foo .price-list dl dt {
  font-size: 30px;
  font-weight: bold;
}
.price .section-items .foo .price-list dl dd {
  font-size: 26px;
}
.price .section-items .foo .ul-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.price .section-items .foo .ul-align-center ul {
  font-size: 20px;
}

.information {
  padding: 0 0 200px 0;
}
.information .section-items {
  display: flex;
  justify-content: space-between;
}
.information .section-items img {
  width: 45%;
  height: 100%;
  object-fit: cover;
}
.information .section-items .information-item {
  width: 50%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 26px;
}

.contact .section-items {
  background: url("images/ゆめカフェ_22.png") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .section-items .contact-text {
  margin-bottom: 30px;
}
.contact .section-items a {
  color: #000;
  background: #eee;
  padding: 15px 80px;
  font-size: 20px;
  box-shadow: 5px 5px #c7c7c7;
}

footer {
  height: 100px;
  text-align: center;
  line-height: 100px;
  color: #000;
  background: #8c8c8c;
}

@media (max-width: 1024px) {
  header {
    width: 100%;
    height: 330px;
  }
  header .header-inner {
    width: calc(100% - 32px);
  }
  header .header-inner .header-nav {
    top: 16px;
    height: 60px;
  }
  header .header-inner .header-nav .header-logo .logo-text {
    font-size: 18px;
  }
  header .header-inner .header-nav .header-logo img {
    width: 38px;
    height: 60px;
  }
  header .header-title {
    font-size: 50px;
    padding-top: 115px;
  }
  header .header-sub-title {
    font-size: 16px;
  }

  .wrpper {
    width: calc(100% - 32px);
  }
  .wrpper .section-title .section-main-title {
    font-size: 40px;
  }
  .wrpper .section-title .section-sub-title {
    font-size: 24px;
  }
  .wrpper .section-items p {
    font-size: 24px;
  }

  .concept {
    padding: 150px 0;
  }
  .concept .section-items img {
    height: 300px;
    object-position: 5% 50%;
  }
  .concept .section-items p {
    line-height: 24px;
  }

  .cats, .price, .information, .contact {
    padding: 0 0 150px 0;
  }

  .cats .section-items {
    flex-direction: unset;
    flex-wrap: unset;
    overflow-x: scroll;
  }
  .cats .section-items .cat {
    width: 100%;
    margin-right: 16px;
  }
  .cats .section-items .cat img {
    width: initial;
    max-height: 250px;
  }

  .price .section-items {
    padding: 50px 0;
  }
  .price .section-items .foo .price-list dl dt {
    font-size: 26px;
  }
  .price .section-items .foo .price-list dl dd {
    font-size: 24px;
  }
  .price .section-items .foo .ul-align-center ul {
    font-size: 18px;
  }

  .information .section-items {
    flex-direction: column;
    justify-content: unset;
    height: 100%;
  }
  .information .section-items img {
    width: 100%;
    height: 30%;
    object-position: center 20%;
  }
  .information .section-items .information-item {
    width: 100%;
    padding: 20px 0;
    border: 1px dashed #000;
    border-top: none;
    display: unset;
    flex-direction: unset;
    justify-content: unset;
  }
  .information .section-items .information-item dl {
    display: flex;
    justify-content: center;
  }
  .information .section-items .information-item dl dt {
    width: 20%;
  }
  .information .section-items .information-item dl dd {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .wrpper .section-title .section-main-title {
    font-size: 30px;
  }
  .wrpper .section-title .section-sub-title {
    font-size: 12px;
  }
  .wrpper .section-items p {
    font-size: 12px;
  }

  .concept {
    padding: 100px 0;
  }

  .cats, .price, .information, .contact {
    padding: 0 0 100px 0;
  }

  .price .section-items {
    padding: 20px 0;
  }
  .price .section-items .foo {
    overflow-x: scroll;
    display: flex;
  }
  .price .section-items .foo .price-list {
    flex-shrink: 0;
    justify-content: unset;
    width: auto;
  }
  .price .section-items .foo .price-list dl:last-child {
    margin: 0;
  }
  .price .section-items .foo .price-list dl {
    flex-shrink: 0;
    margin: 0 20px;
  }
  .price .section-items .foo .price-list dl dt {
    font-size: 14px;
  }
  .price .section-items .foo .price-list dl dd {
    font-size: 12px;
  }
  .price .section-items .foo .ul-align-center {
    flex-shrink: 0;
    padding: 0 20px;
    justify-content: center;
  }
  .price .section-items .foo .ul-align-center ul {
    line-height: 1;
    font-size: 14px;
  }

  .information .section-items {
    height: 100%;
  }
  .information .section-items .information-item dl dd {
    width: 65%;
  }

  .contact .section-items a {
    padding: 10px 30px;
    font-size: 10px;
  }

  footer {
    height: 50px;
    line-height: 50px;
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
